<h1>Post to twitter</h1>

<!-- <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
class="twitter-share-button"
 data-text="sample"
 data-via="example" data-hashtags="test"
 data-related="examplerecom"
 data-show-count="false">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

<%= link_to "Sign in with instagram", user_instagram_omniauth_authorize_path %>
