<h1>View Instagram Data</h1>

<p>Username: <%= @username %></p>

<p>Number of Posts: <%= @numberofposts %></p>

<div class="container-fluid">
  <div class="row">
    <% @viewmedia.each do |picture| %>
      <div class="col-sm-4" style="float:left">
        <div class="card mb-2">
          <%= image_tag picture.media_url, :class => "card-img-top"  %>
            <div class="card-body">
              <p class="card-text"> Image type: <%= picture.media_type %> </p>
              <p class="card-text">Number of Likes: "A buisness account would be able to get this data"</p>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
